<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폼 전송 결과 페이지</title>

    <style>
      span {
        color: blue;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <h1><%= title %></h1>
    <ul>
      <li>이름:<%= name %></li>
      <li>성별:<%= gender %></li>
      <li>생일:<%= year+'-'+month+'-'+day%></li>
      <li>취미:<%= hobby %></li>
      <% if(check==2){ %>
      <li>좋아하는 색상:<%= color %></li>
      <li>좋아하는 숫자:<%= number %></li>
      <%} %>
    </ul>
    <a href="/">홈으로 이동</a>
  </body>
</html>
