<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #1d1d1d;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      .card {
        text-align: center;
        background-color: #fffff8;
        border-radius: 20px;
        width: 300px;
        padding: 30px 10px;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <img src=/<%= image %> />
      <h3><%= userid %> 님 환영합니다</h3>
      <ul>
        <li>비밀번호: <%= pw %></li>
        <li>이름: <%= username %></li>
        <li>나이: <%= age %></li>
      </ul>
    </div>
  </body>
</html>
